.button-wrap {
  display: flex;
  padding: 0px 20px 20px 20px;
  margin-top: 25px;
}

.my_button {
  flex: 1;
  border: 1px solid rgb(149 149 149);
  padding: 7px 0px 7px 0px;
  border-radius: 4px;
  height: 35px;
}

.my_button.a {
  margin-right: 5px;
}

.my_button.b {
  margin-left: 5px;
}

.my_button:hover {
  outline: none;
  border-color: #07f;
  cursor: pointer;
}

#play {
  background: rgb(70, 211, 101);
  color: white;
}

/* slider */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #04aa6d;
  cursor: pointer;
}

.slider-align {
  padding-top: 10px;
}
