.select
{
	position: relative;
	margin-top: 5px;

}

.select svg
{
	position: absolute;
	right: 12px;
	top: calc(50% - 3px);
	width: 10px;
	height: 6px;
	stroke-width: 2px;
	stroke: #9098a9;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	pointer-events: none;
	box-sizing: border-box;
}

.select select
{
	-webkit-appearance: none;
	padding: 7px 40px 7px 12px;
	width: 100%;
	border: 1px solid #c9cfd8;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 1px 3px -2px #9098a9;
	cursor: pointer;
	font-family: inherit;
	font-size: 18px;
	transition: all 150ms ease;
	box-sizing: border-box;
	color: #404d68;
}

.select select option[value=""][disabled]
{
	display: none;
	box-sizing: border-box;
}

.select select:focus
{
	outline: none;
	border-color: #07f;
	box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
	box-sizing: border-box;
}

.select select:hover + svg
{
	stroke: #07f;
	box-sizing: border-box;
}
