*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-container{
    min-height: 100vh;
    display: flex;
}

.menu{
    background-color: rgb(238, 238, 238);
    min-height: 100vh;
    width: 350px; 
    z-index:10;
    text-align: center;
    box-shadow:8px 0px 30px rgba(6,13,29,0.418);
    font-family: 'Roboto', sans-serif;
}

.visualizer
{ 
    flex:1;
	z-index: 1;
}